[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy="*"
sqlalchemy_utils="*"
psycopg2-binary="*"
structlog="*"
pydantic="*"
pytest="*"
assertpy="*"
autopep8="*"

[dev-packages]

[requires]
python_version = "3.10"
